/* Scrollable navbar in mobile */
@media (max-width: 576px) {
  .nav-scroll {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-scroll .nav-item {
    flex: 0 0 auto;
    margin-right: 15px;
  }

  .nav-scroll::-webkit-scrollbar {
    display: none;                       /*hide scrollbar*/
  }
}



.nav-link {
 
  font-size: 15px;                  
  font-weight: 400;                  
  letter-spacing: 1px;                
 
}

.nav-link:hover {
  color: rgb(255, 2, 2) !important; 
}

